**/*.egg-info
**/*.pyc
**/.DS_Store
**/.dockerignore
**/.git
**/.gitignore
**/.mypy_cache
**/.pytest_cache
**/.vscode
**/.idea
**/.tox
**/.coverage
**/Dockerfile
**/__pycache__
**/__pycache__
**/build
**/dist
**/docker-compose.yaml
**/docker-compose.yml
**/venv
**/.venv
**/.github
**/.trivy-cache
**/artifacts
