**/*.egg-info
**/*.pyc
**/.DS_Store
**/.coverage
**/.dockerignore
**/.git
**/.gitignore
**/.idea
**/.mypy_cache
**/.pytest_cache
**/.tox
**/.trivy-cache
**/.venv
**/.vscode
**/Dockerfile
**/__pycache__
**/artifacts
**/build
**/dist
docker-compose.yaml
**/docker-compose.yml
**/venv
.claude
.github/
