**/__pycache__
**/.coverage
**/.dockerignore
**/.DS_Store
**/.git
**/.github
**/.gitignore
**/.idea
**/.mypy_cache
**/.pytest_cache
**/.tox
**/.trivy-cache
**/.venv
**/.vscode
**/*.egg-info
**/*.pyc
**/artifacts
**/build
**/dist
**/docker-compose.yaml
**/docker-compose.yml
**/Dockerfile
**/venv
