# Workflow to validate a PR
name: pr-validation
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  workflow_dispatch:
jobs:
  build-and-test:
    runs-on: ubuntu-latest
    steps:
      # checkout the repo
      - uses: actions/checkout@v2
      # prepare the build environment
      - uses: actions/setup-python@v2
        with:
          python-version: "3.10"
      - run: pip install poetry
      # main step
      - run: make cicd
      # build Docker image for Production
      - run: make build
      # check vulnerabilities
      - run: make vulnscan
